<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="Shift_JIS">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"-->
<!--            crossorigin="anonymous"></script>-->
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/emusc_IK.css}"/>
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/SwKeyboard.css}"/>
    <title>home</title>

</head>
<body id="web_body" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">
<!-- header -->
<header class="wrapper">
</header>
<!-- contents -->
<div class="wrapper">
    <!-- contentsMenu -->
    <nav id="ismenu">
        <form action="" name="GlobalNaviTop" method="post"><input
                type="hidden" name="FormName" value="kyotuGamen"><input type="hidden" name="Formxtr" value=""><input
                type="hidden" name="xtr" value=""><input type="hidden" name="Token"
                                                         value="10ec2687dccf9c131122e045d6c13d52"><input type="hidden"
                                                                                                         name="NLS"
                                                                                                         value="ISP"><input
                type="hidden" name="TrnSeq" value="2_3"><input type="hidden" name="JS" value="">

        </form>
    </nav>
    <!-- mainContents -->
    <article id="mainContents_top">
        <hr class="boldLine">
        <div id="main_top">
            <form autocomplete="off" id="f1" name="f1" th:action="${actionUrl}"
                  method="post">
                <input type="hidden" name="xtr" value="iszsmeisai01000">
                <input type="hidden" name="Token" value="10ec2687dccf9c131122e045d6c13d52">
                <input type="hidden" name="NLS" value="ISP">
                <input type="hidden" name="JS" value="">
                <input type="hidden" name="TopMeisaiType" value="">
                <input type="hidden" name="next" th:value="${data.next}">
                <input type="hidden" name="accntNo" th:value="${data.accntNo}">
                <div id="err_msg" th:text="${data.err_msg}"></div>
                <div id="err_msg_home" th:text="${data.err_msg_home}"></div>
                <div id="err_msg_box_area" th:text="${data.box_area_message}"></div>
                <div id="kbn_msg"></div>
                <br>
                <div>
                    <span class="AlVm fontStrong fontBig">XXさま</span>
                </div>
                <br>
                <div>
                    <span class="fontStrong_is fontBig block_title_sub_is">口座残高</span>
                    <span class="kijun_date" th:text="${data.kijun_date}">2024年01月15日&nbsp;16時49分&nbsp;現在</span>
                    <div class="kijun_date" th:text="${data.kijun_date}">2024年01月15日&nbsp;16時49分&nbsp;現在</div>
                </div>
                <table class="top_item_table">
                    <tbody>
                    <tr>
                        <th class="AcVm border_bottom_none" style="width:150px"><span
                                class="fontStrong">インターネット支店</span></th>
                        <td class="ArVm border_bottom_none backgroundRed border_right_need" style="width:310px">
                            <span class="fontStrong fontBig">残高：</span>
                            <span class="fontStrong fontBig" th:text="${data.balance}">1,470</span>
                            <span class="fontStrong fontBig">円</span></td>
                        <th class="AcVm " rowspan="2"><input type="submit" name="Meimai" value="入出金明細を確認する"
                                                             class="submenu_top_B_istop" tabindex="100">
                        </th>
                    </tr>
                    <tr>
                        <th class="AcVm"><span class="fontStrong">普通&nbsp;4723</span></th>
                        <td class="ArVm border_right_need backgroundRed">
                            <span class="fontBig">お引出し可能残高：</span>
                            <span class="fontBig" th:text="${data.balance}">1,470</span>
                            <span class="fontBig">円</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="kbn_html"></div>
            </form>
        </div>
    </article>
</div>


</body>
</html>