<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="Shift_JIS">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
	<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
	<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"-->
	<!--            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"-->
	<!--            crossorigin="anonymous"></script>-->
	<link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/reset.css}"/>
	<link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/emusc_IK.css}"/>
	<link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/SwKeyboard.css}"/>
	<title>user_registration_5</title>
</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" bottommargin="0" rightmargin="0">
<!-- header -->
<div class="wrapper2">
    <header class="wrapper">
        <div id="header_wrapper2"><a name="#" href="about:blank"></a>
            <hr class="zeroLine">
            <div id="logo"><span><img src=""></span></div>
            <aside id="utilityNavi">
                <form action="" method="post" name="cssChange"><input type="hidden"
                                                                                                           name="FormName"
                                                                                                           value="kyotuGamen"><input
                        type="hidden" name="bgcolor" value=""><input type="hidden" name="fontsize" value=""><input
                        type="hidden" name="xtrPrev" value=""><input type="hidden" name="xtr"
                                                                     value=""><input type="hidden"
                                                                                                  name="Token"
                                                                                                  value="eacd187bf0dbad44631b6d0a5acfddad"><input
                        type="hidden" name="NLS" value="ISP"><input type="hidden" name="JS" value="">
                    <div id="naviRight">
                        <div id="naviTop">
                            <span class="utilityChangeLabel" style="height:35px;">文字サイズ変更</span>
                            <span class="fontChange">
<input type="submit" name="btn_1" id="btn_1" value="小" class="On_B"
       onclick="">
</span><span class="fontChange">
<input type="submit" name="btn_2" id="btn_2" value="中" class="Off_B"
       onclick="">
</span><span class="fontChange">
<input type="submit" name="btn_3" id="btn_3" value="大" class="Off_B"
       onclick="">
</span>
                            <span class="colorChange" style="display:none;">
<input type="image" src="" name="gazou1" width="25" height="25"
       onclick="" onmouseover=""
       onmouseout="">
</span>
                            <span class="colorChange" style="display:none;">
<input type="image" src="" name="gazou2" width="25" height="25"
       onclick="" onmouseover=""
       onmouseout="">
</span>
                            <span class="colorChange" style="display:none;">
<input type="image" src="" name="gazou3" width="25" height="25"
       onclick="" onmouseover=""
       onmouseout="">
</span>
                        </div>
                        <br style="clear:both">
                        <div id="naviBottom">
                        </div>
                    </div>
                </form>
                <div id="naviLeft"></div>
            </aside>
        </div>
    </header>
    <!-- contents -->
    <div class="wrapper">
        <!-- contentsMenu -->

        <!-- mainContents -->
        <article id="mainContents_center">
            <hr class="boldLine">
            <h1 id="title">〈やまぎん〉かんたん残高照会サービス 新規申込</h1>
            <hr>
            <div id="main_center">
                <form autocomplete="off" id="f1" name="f1" action="" method="post">
                    <input type="hidden" name="xtr" value="user_registration_6">
                    <input type="hidden" name="Token" value="null">
                    <input type="hidden" name="NLS" value="ISP">
                    <input type="hidden" name="TrnSeq" value="0_1">
                    <input type="hidden" name="fontsize" value="null">
                    <input type="hidden" name="bgcolor" value="null">
                    <input type="hidden" name="JS" value="">
                    <div id="breadcrumb"><span class="func_nav_unactive"><span class="func_nav_active">ご利用規定</span>&#9654;申込情報入力&#9654;暗証番号入力&#9654;パスワード入力&#9654;確認・登録&#9654;登録完了</span>
                    </div>
                    <br>
                    <div id="err_msg"></div>
                    <div class="info_area">ただ：いま：い （だ） （た）</div>
                    <div id="kbn_msg"><font class="fontStrong" style="font-size:18px;">お申し込みの前に以下の内容をご確認いただき、ご同意のうえでお進みください。<br></font>
                    </div>
                    <div id="kbn_html">


                        <link rel="stylesheet" type="text/css" href="">
                        <script language="JavaScript"
                                src=""></script>


                        <table align="center" border="0" cellpadding="2" cellspacing="2" width="700">
                            <tbody>
                            <tr>
                                <td valign="Top">1.</td>
                                <td>
                                    「個人情報の利用目的について」および「〈やまぎん〉かんたん残高照会利用規定」をご確認ください。<br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- data -->
                        <table align="center" border="2" bordercolor="red" cellpadding="2" cellspacing="2" width="700">
                            <tbody>
                            <tr bordercolor="gray">
                                <td align="left" bgcolor="white">
                                    <br>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td valign="Top"><font color="#355b86">●</font></td>
                                            <td><a href="http://www.yamagatabank.co.jp/privacy.html"
                                                   target="_blank"><span
                                                    class="Koumoku"> 個人情報の利用目的について</span></a><br><br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="Top"><font color="#355b86">●</font></td>
                                            <td>
                                                <a href="https://www.yamagatabank.co.jp/regulation/img/kitei_zandaka_01.pdf"
                                                   target="_blank"><span
                                                        class="Koumoku">〈やまぎん〉かんたん残高照会利用規定</span></a><br><br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="700">

                            <tbody>
                            <tr>
                                <td valign="Top">２．</td>
                                <td>当行に普通預金口座をお持ちの個人のお客さまがお申込みいただけます。<br><br></td>
                            </tr>
                            <tr>
                                <td valign="Top">３．</td>
                                <td>口座ごとに登録が必要となります。（キャッシュカードが発行されている普通預金が対象となります）<br><br></td>
                            </tr>

                            <tr>
                                <td valign="Top">４．</td>
                                <td>申込口座を移管された場合（当行の都合による店舗統廃合等に伴う移管を含みます）は、あらためて登録が必要となります。<br><br>
                                </td>
                            </tr>

                            <tr>
                                <td valign="Top">５．</td>
                                <td>以下に該当するお客さまはお申込みいただけません。<br>（１）当行に生年月日や電話番号をお届出いただいていないお客さま<br>（２）キャッシュカードをお持ちでないお客さま
                                    <br>（３）メールアドレスをお持ちでないお客さま<br>（４）申込口座に各種お取引の制限が設定されているお客さま<br><br></td>
                            </tr>

                            <tr>
                                <td valign="Top">６．</td>
                                <td>画面上のご入力内容と当行へのお届出内容が異なる場合はお受付できません。<br><br></td>
                            </tr>

                            <tr>
                                <td valign="Top">７．</td>
                                <td>当行の総合的判断でお申込みをお断りさせていただく場合がございます。予めご了承ください。<br><br></td>
                            </tr>

                            <tr>
                                <td valign="Top">８．</td>
                                <td>最終利用日から６ヵ月にわたり本サービスの利用がない場合、登録は自動解除されます。この場合本サービスの利用には、あらためて登録が必要となります。<br><br></td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="1" align="center">
                            <caption class="caption_is">◆ご利用時間◆</caption>
                            <tbody>
                            <tr align="center">
                                <th width="200" height="30">曜&nbsp;&nbsp;日</th>
                                <th width="200" height="30">時&nbsp;&nbsp;間</th>
                            </tr>
                            <tr align="center">
                                <td width="200" height="30">平&nbsp;&nbsp;日</td>
                                <td width="200" height="30">7：00&nbsp;〜&nbsp;23：00</td>
                            </tr>
                            <tr align="center">
                                <td width="200" height="30">土・日・祝日</td>
                                <td width="200" height="30">8：00&nbsp;〜&nbsp;21：00</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="box_area">
                        <div class="box_area_message"><span>上記内容にご同意いただける場合は、「同意します」にチェックしていただき、「次へ」ボタンを押してください。</span>
                        </div>
                        <div class="button_c">
						<span>
							<input type="checkbox" name="Bu_Agreement2" value="agree" tabindex="100"
                                   id="Bu_Agreement2agree"><label for="Bu_Agreement2agree">同意します</label>
						</span>
                        </div>
                    </div>
                    <div class="button_c">
                        <div class="button_double">
                            <input type="submit" value="次へ" tabindex="100" class="disp_B" name="Next"
                                   onclick="return transWithChk(&#39;isasismk01000&#39;);">
                        </div>
                        <div class="button_double">
                            <input type="button" value="同意しない" tabindex="100" class="disp_B" name="Disagree"
                                   onclick="pop1()">
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="button_l">
                        <input type="submit" value="ログオンへ" tabindex="100" class="back_B" name="Back"
                               onclick="return transNoChk(&#39;isasismk01000&#39;);">
                    </div>
                </form>
            </div>
        </article>
        <!-- subContents -->

    </div>
    <footer class="wrapper">
        <div id="extraNavi_center">
            <div id="extraNavi">
                <div id="extraNavi_1"><span><a href="javaScript:void(0)" onclick="javaScript:parent.scroll(0,0)">▲ページの先頭へ</a></span>
                </div>
                <br>
                <div id="extraNavi_3"><span>ネットバンクに関するお問い合わせ先：ネットバンク共同ヘルプデスク <font
                        class="fontStrong">0120-424-969</font> 受付時間：平日 9:00〜23:00　土日祝 9:00〜17:00<br>登録金融機関：株式会社 山形銀行 東北財務局長（登金）第12号 加入協会:日本証券業協会</span>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div id="copyright"><small>Copyright(C) 2023 The Yamagata Bank, Limited.</small></div>
    </footer>
</div>


</body>
</html>